<div class="example-form">
    <div class="form-group">
        <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchValue" (keyup)="onSearchKeyup($event)">
    </div>
    <table class="table table-hover table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">E-mail</th>
                <th scope="col">Birthday</th>
                <th scope="col">Phone number</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of searchedOwners;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{owner.name}}</td>
                <td>{{owner.lastname}}</td>
                <td>{{owner.email}}</td>
                <td>{{owner.birthday}}</td>
                <td>{{owner.phoneNumber}}</td>
                <td>{{owner.address}}</td>
                <td><button type="button" (click)="viewOwner(owner)" class="btn btn-primary">View</button>
                </td>
                <td><button type="button" (click)="editOwner(owner)" class="btn btn-primary">Edit</button>
                </td>
                <td><button type="button" (click)="deleteOwner(owner)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>
