<mat-dialog-content>


    <form [formGroup]="interventionForm" class="example-form" autocomplete="off"
        (ngSubmit)="addInterventionForm(interventionForm.value)">
        <div class="intervention-container">

            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label for="createdDate" autocomplete="off">Created Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="createdDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                New service
              </mat-panel-title>
              <mat-panel-description>
                Click here to add new service
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <form [formGroup]="serviceForm" autocomplete="off" (ngSubmit)="addServiceForm(serviceForm.value)">
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>
                <mat-autocomplete #autoServiceType="matAutocomplete" [displayWith]="displayServiceType">
                    <mat-option *ngFor="let type of searchedServiceTypes" [value]="type">
                        {{type.name}}
                    </mat-option>
                </mat-autocomplete>

                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Service Type" matInput formControlName="serviceType"
                        [matAutocomplete]="autoServiceType">
                </mat-form-field>

                <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUser">
                    <mat-option *ngFor="let user of searchedUsers" [value]="user">
                        {{user.name}} {{user.lastname}}
                    </mat-option>
                </mat-autocomplete>

                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="User" matInput formControlName="user" [matAutocomplete]="autoUser">
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button color="primary" style="display: block; margin: auto;">Add</button>
            </form>

          </mat-expansion-panel>
        </mat-accordion>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-2" id="services">

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let service"> {{service.description}} </td>
            </ng-container>

            <ng-container matColumnDef="serviceType">
                <th mat-header-cell *matHeaderCellDef> Service Type </th>
                <td mat-cell *matCellDef="let service"> {{service.serviceType.name}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> User </th>
                <td mat-cell *matCellDef="let service"> {{service.user.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

            <button [mat-dialog-close]="addInterventionForm(interventionForm.value)"
            [disabled]="!interventionForm.valid" mat-flat-button
            color="primary"
            style="display:block; margin:0 auto;" >{{intervention ? 'Edit' : 'Save'}}</button>
    </form>
</mat-dialog-content>