<form [formGroup] = "ownerForm" class="example-form" autocomplete="off" (ngSubmit) = "addOwnerForm(ownerForm.value)">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="lastname">
      </mat-form-field>
      </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label for="email" autocomplete="off">E-mail
        </mat-label>
        <input matInput name="email" id="email" formControlName = "email">
    <div *ngIf="email().touched">
        <p class="error-message" *ngIf = "email().errors?.required">E-mail is required</p>
        <p class="error-message" *ngIf = "email().errors?.email">E-mail is not correct</p>
    </div>
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label for="birthday" autocomplete="off">Birthday
        </mat-label>
       
        <input matInput [matDatepicker]="picker" formControlName="birthday">   
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label for="phoneNumber" autocomplete="off">Phone number
        </mat-label>
        <input matInput name="" id="phoneNumber" formControlName = "phoneNumber">
    <div *ngIf="phoneNumber().touched">
        <p class="error-message" *ngIf = "phoneNumber().errors?.required">Phone number is required</p>
        <p class="error-message" *ngIf = "phoneNumber().errors?.pattern">Phone number is not correct<address/p>
    </div>
    </mat-form-field>
      </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label for="address" autocomplete="off">Address
        </mat-label>
        <input matInput name="" id="address" formControlName = "address">
    <div *ngIf="address().touched">
        <p class="error-message" *ngIf = "address().errors?.required">Address is required</p>
        <p class="error-message" *ngIf = "address().errors?.pattern">Address is not correct<address/p>
    </div>
    </mat-form-field>
      </div>
      <button type="submit"
            mat-raised-button color="primary"
            [disabled] = "!ownerForm.valid"
            class="example-full-width">Save</button>
  </form>
  