<div class="mat-elevation-z8 interventions" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let intervention"> {{intervention.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let intervention"> {{getFormatedDate(intervention.createdDate)}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Operations </th>
        <td mat-cell *matCellDef="let intervention"> 
          <button type="button" 
            (click)="viewIntervention(intervention)" 
            class="btn btn-primary m-2">View</button>
          <button type="button"
                  (click)="editIntervention(intervention)" 
                  class="btn btn-primary m-2">Edit</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columNames"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
