<form [formGroup]="ownerForm" class="example-form">
    <div class="form-group">
      <label for="add-owner">Name</label>
      <input type="text" class="form-control" formControlName="name" disabled>
    </div>
    <div class="form-group">
      <label for="add-owner">Lastname</label>
      <input type="text" class="form-control" formControlName="lastname" disabled>
    </div>
    <div class="form-group">
      <label for="add-owner">Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="name@example.com" disabled> 
    </div>
    <div class="form-group">
      <label for="add-owner">Birthday</label>
      <input type="date" class="form-control" formControlName="birthday" disabled>
    </div>
    <div class="form-group">
      <label for="add-owner">Phone number</label>
      <input type="text" class="form-control" formControlName="phoneNumber" disabled>
    </div>
    <div class="form-group">
      <label for="add-owner">Address</label>
      <input type="text" class="form-control" formControlName="address" disabled>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>