<form [formGroup] = "serviceTypeForm" class="example-form" autocomplete="off" (ngSubmit) = "addServiceTypeForm(serviceTypeForm.value)">
        <mat-form-field class="example-full-width">
            <mat-label for="name" autocomplete="off">Name
            </mat-label>
            <input matInput name="name" id="name" formControlName = "name">
        </mat-form-field>
        <div *ngIf="name().touched">
            <p class="error-message" *ngIf = "name().errors?.required">Name is required</p>
            <p class="error-message"  *ngIf = "name().errors?.incorectName">Name is not correct</p>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label for="description" autocomplete="off">Description
            </mat-label>
            <textarea matInput name="description" id="description" formControlName = "description"></textarea>
        </mat-form-field>
        <div *ngIf="description().touched">
            <p class="error-message" *ngIf = "description().errors?.required">Description is required</p>
            <p class="error-message"  *ngIf = "description().errors?.incorectDescription">Description is not correct</p>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label for="marking" autocomplete="off">Marking
            </mat-label>
            <input matInput name="marking" id="marking" formControlName = "marking">
        </mat-form-field>
        <div *ngIf="marking().touched">
            <p class="error-message" *ngIf = "marking().errors?.required">Marking is required</p>
            <p class="error-message"  *ngIf = "marking().errors?.incorectMarking">Marking is not correct</p>
        </div>
    <button type="submit"
    mat-raised-button color="primary"
    [disabled] = "!serviceTypeForm.valid"
    class="example-full-width">Save</button>
</form>
