<div class="example-form" style="margin-top: 30px;">
    <div class="form-group">
        <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchValue" (keyup)="onSearchKeyup($event)">
    </div>
    <table class="table table-hover table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of searchedAnimalTypes;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{type.name}}</td>
                <td>{{type.description}}</td>
                <td><button type="button" (click)="editAnimalType(type)" class="btn btn-primary">Edit</button>
                </td>
                <td><button type="button" (click)="deleteAnimalType(type)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>