<form [formGroup]="cardboardForm" class="example-form" autocomplete="off"
    (ngSubmit)="addCardboardForm(cardboardForm.value)">
    <div class="cardboarb-container">

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
            <mat-label for="birthday" autocomplete="off">Birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-autocomplete #autoAnimalType="matAutocomplete" [displayWith]="displayAnimalType">
            <mat-option *ngFor="let type of searchedAnimalTypes" [value]="type">
              {{type.name}}
            </mat-option>
        </mat-autocomplete>

        <mat-form-field class="example-full-width">
        <input type="text"
                placeholder="Animal Type"
                matInput
                formControlName="animalType"
                [matAutocomplete]="autoAnimalType">
        </mat-form-field>

        <br>

        <mat-autocomplete #autoOwners="matAutocomplete" [displayWith]="displayOwner">
            <mat-option *ngFor="let owner of searchedOwners" [value]="owner">
              {{owner.name}} {{owner.lastname}}
            </mat-option>
        </mat-autocomplete>

        <mat-form-field class="example-full-width">
        <input type="text"
                placeholder="Owner"
                matInput
                formControlName="owner"
                [matAutocomplete]="autoOwners">
        </mat-form-field>

        <br>
        <br>
        <br>

        <button type="submit"
            mat-raised-button color="primary"
            class="example-full-width m-2">Save</button>

    </div>  
</form>