.example-section {
    margin: 12px 0;
  }
  .example-margin {
    margin: 0 12px;
  }
  .example-form{
    margin-top: 110px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }