.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .error-message{
    color: firebrick;
    font-size: small;
  }