<form [formGroup] = "signupForm" class="example-form" autocomplete="off" (ngSubmit) = "submitForm(signupForm.value)">
    <mat-form-field class="example-full-width">
        <mat-label for="username" autocomplete="off">Username
        </mat-label>
        <input matInput name="username" id="username" formControlName = "username">
    </mat-form-field>
    <div *ngIf="username().touched">
        <p class="error-message" *ngIf = "username().errors?.required">Username is required</p>
        <p class="error-message" *ngIf = "username().errors?.incorectUsername">Username is not correct</p>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label for="password" autocomplete="off">Password
        </mat-label>
        <input matInput type="password" name="password" id="password" formControlName = "password">
    </mat-form-field>
    <div *ngIf="password().touched">
        <p class="error-message" *ngIf = "password().errors?.required">Password is required</p>
        <p class="error-message" *ngIf = "password().errors?.incorectPassword">Password is not correct</p>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label for="name" autocomplete="off">Name
        </mat-label>
        <input matInput name="name" id="name" formControlName = "name">
    </mat-form-field>
    <div *ngIf="name().touched">
        <p class="error-message" *ngIf = "name().errors?.required">Name is required</p>
        <p class="error-message"  *ngIf = "name().errors?.incorectName">Name is not correct</p>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label for="lastname" autocomplete="off">Lastname
        </mat-label>
        <input matInput name="lastname" id="lastname" formControlName = "lastname">
    <div *ngIf="lastname().touched">
        <p class="error-message" *ngIf = "lastname().errors?.required">Lastname is required</p>
        <p class="error-message" *ngIf = "lastname().errors?.incorectLastname">Lastname is not correct</p>
    </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label for="email" autocomplete="off">E-mail
        </mat-label>
        <input matInput name="email" id="email" formControlName = "email">
    <div *ngIf="email().touched">
        <p class="error-message" *ngIf = "email().errors?.required">E-mail is required</p>
        <p class="error-message" *ngIf = "email().errors?.email">E-mail is not correct</p>
    </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label for="birthday" autocomplete="off">Birthday
        </mat-label>
       
        <input matInput [matDatepicker]="picker" formControlName="birthday">   
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label for="address" autocomplete="off">Address
        </mat-label>
        <input matInput name="" id="address" formControlName = "address">
    <div *ngIf="address().touched">
        <p class="error-message" *ngIf = "address().errors?.required">Address is required</p>
        <p class="error-message" *ngIf = "address().errors?.pattern">Address is not correct<address/p>
    </div>
    </mat-form-field>

    <button type="submit"
            mat-raised-button color="primary"
            [disabled] = "!signupForm.valid"
            class="example-full-width">Signup</button>

</form>