<div class="example-form" style="margin-top: 20px;">
    <div class="form-group">
        <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchValue"
            (keyup)="onSearchKeyup($event)">
    </div>
    <table class="table table-hover table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Created date</th>
                <th scope="col">Deactivate</th>
                <th scope="col">Animal type</th>
                <th scope="col">Owner</th>
            </tr>
        </thead>
        <tbody *ngIf = "searchedCardboards">
            <tr *ngFor="let cardboard of searchedCardboards;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{cardboard.name}}</td>
                <td>{{cardboard.birthday}}</td>
                <td>{{cardboard.createdDate}}</td>
                <td>{{cardboard.deactivated}}</td>
                <td>{{cardboard.animalType.name}}</td>
                <td>{{cardboard.owner.name}} {{cardboard.owner.lastname}}</td>

                <td><button type="button" (click)="openCardboard(cardboard)" class="btn btn-primary">Open</button>
                </td>
                <td><button type="button" [disabled]='cardboard.deactivated' (click)="editCardboard(cardboard)"
                        class="btn btn-primary">Edit</button>
                </td>
                <td><button type="button" [disabled]='cardboard.deactivated' (click)="deactivatedCardboard(cardboard)"
                        class="btn btn-danger">Deativated</button>
                </td>
            </tr>
            
        </tbody>
        <p *ngIf="!(searchedCardboards.length > 0)" style="color: brown;">Cardboard is not found</p>
        
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 80%"></mat-paginator>
</div>