<div class="row" style="background-color: rgb(255, 221, 204);" *ngIf="cardboard">
    
    <div class="col-6" style="border-style: inset;background-color:rgba(255, 99, 71, 0.5);">      
        <div class="row">
            <div class="col-4">
                <img src="https://wmah.net/wp-content/uploads/2020/02/veterinary-11.png" alt="Girl in a jacket" width="200" height="200" style="margin-left: 0px;">
            </div>
            <div class="col-8 info-div " style="margin-top: 20px;">
                <p>Name: {{cardboard.name}}</p>
                <p>Date created: {{getFormatedDate(cardboard.createdDate)}}</p>
                <p>Birthday: {{cardboard.birthday}}</p>
                <p>Deactivated: <span [ngClass]="{'green':!cardboard.deactivated, 'red': cardboard.deactivated}">{{cardboard.deactivated}}</span></p>
                <p>Animal type: {{cardboard.animalType.name}}</p>
            </div>
        </div>
    </div>
    

    <div class="info-div col-6" *ngIf="cardboard?.owner" style="border-style: inset; background-color:rgb(255, 204, 179);">
        <div class="row">
            <div class="col-4">
                <img src="https://identipet.com/wp-content/uploads/2016/10/icon-petowners.png" alt="Girl in a jacket" width="200" height="200" style="margin-left: 0px;">
            </div>
            <div class="col-8 info-div " style="margin-top: 20px;">
        <p>Name: {{cardboard.owner.name}}</p>
        <p>Lastname: {{cardboard.owner.lastname}}</p>
        <p>E-mail: {{cardboard.owner.email}}</p>
        <p>Birthday: {{cardboard.owner.birthday}}</p>
        <p>Address: {{cardboard.owner.address}}</p>
        <p>Phone number: {{cardboard.owner.phoneNumber}}</p>
            </div>
        </div>
    </div>
    <br>
    <div style="text-align:center; margin: 10px auto;" >
    <button type="button" [disabled]='cardboard.deactivated' (click)="addIntervention(cardboard)"
        class="btn btn-danger">Add intervention</button>
    </div>
    <br>
    <div *ngIf="cardboard" style="width: 100%;">
        <app-interventions [cardboard]="cardboard"></app-interventions>
    </div>
</div>