<form [formGroup] = "serviceTypeForm" class="example-form" autocomplete="off">
    <div class="form-group">
        <label for="add-serviceType">Name</label>
        <input type="text" formControlName = "name" class="form-control">
    </div>
    <div class="form-group">
        <label for="add-serviceType">Description</label>
        <textarea type="text" formControlName = "description" class="form-control" rows = 3></textarea>
    </div>
    <div class="form-group">
        <label for="add-serviceType">Marking</label>
        <input type="text" formControlName = "marking" class="form-control">
    </div>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button [mat-dialog-close]="serviceTypeForm.value"
                [disabled] = "!serviceTypeForm.valid"
                mat-flat-button
                color="primary"
                cdkFocusInitial>Edit</button>
              </mat-dialog-actions>
</form>