<nav class="navbar navbar-expand-lg navbar-dark bg-pink">
    <a class="navbar-brand" [routerLink] = "['/']">Vet Assistant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['/']">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" [routerLink] = "['/Cardborards']">Cardborards</a> -->
          <div class="dropdown">
            <button class="btn bg-pink dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cardoards
            </button>
            <div class="dropdown-menu bg-pink" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item"  [routerLink] = "['/cardboard/search']">Search cardboard</a>
              <a class="dropdown-item" [routerLink] = "['/cardboard/add']">Add new cardborar</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn bg-pink dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Owners
                </button>
                <div class="dropdown-menu bg-pink " aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" [routerLink] = "['/owner/search']">Search owner</a>
                  <a class="dropdown-item" [routerLink] = "['/owner/add']">Add new owner</a>
                </div>
              </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn bg-pink dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Animal Type
                </button>
                <div class="dropdown-menu bg-pink" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" [routerLink]="['/animalType/search']">Search animal type</a>
                  <a class="dropdown-item" [routerLink]="['/animalType/add']"> Add new animal type</a>
                </div>
              </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn bg-pink dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Service Type
                </button>
                <div class="dropdown-menu bg-pink" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" [routerLink] = "['/serviceType/search']">Search service type</a>
                  <a class="dropdown-item" [routerLink] = "['/serviceType/add']">Add new service type</a>
                </div>
              </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/about']">About</a>
        </li>
        <div id="my-nav">
            <a class="my-nav-link">Profile</a>
            <a (click)="onLogout()" class="my-nav-link">Logout</a>
        </div>
      </ul>
    </div>
  </nav>
  