.bg-pink {
    background-color: rgb(165, 40, 61) !important;
    color: white;
}
#my-nav {
    position: absolute;
    top: 16px;
    right: 0;
}
.my-nav-link {
    cursor: pointer;
    padding: 10px 10px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
}

.my-nav-link:hover {
    text-decoration: none;
}