<form [formGroup] = "loginForm" class="example-form" autocomplete="off" (ngSubmit)="onSubmit(loginForm.value)">
    <mat-form-field class="example-full-width">
        <mat-label for="username" autocomplete="off">Username</mat-label>
        <input matInput name="username" id="username" formControlName = "username">
    </mat-form-field>
    <div *ngIf="username().touched">
        <p class="error-message" *ngIf = "username().errors?.required">Username is required</p>
        <p class="error-message" *ngIf = "username().errors?.incorectUsername">Username is not correct</p>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label for="password" autocomplete="off">Password</mat-label>
        <input matInput type="password" name="password" id="password" formControlName = "password">
    </mat-form-field>
    <div *ngIf="password().touched">
        <p class="error-message" *ngIf = "password().errors?.required">Password is required</p>
        <p class="error-message" *ngIf = "password().errors?.incorectPassword">Password is not correct</p>
    </div>

    <button type="submit"
            mat-raised-button color="primary"
            [disabled] = "!loginForm.valid"
            class="example-full-width">Login</button>
            <p></p>
    <button type="button" mat-raised-button color="primary" [routerLink]="['/signup']" class="example-full-width">Signup</button>  
</form>

