/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: rgb(255, 221, 204);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.error-message {
  color: firebrick;
  font-size: small;
}