#home-image {
    display: block;
    margin: auto;
    width: 70%;
}

h1 {
    text-align: center;
    color: rgb(165, 40, 61);
    font-family: 'Alex Brush';
    font-size: 100px;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 80px;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}