<form [formGroup]="ownerForm" class="example-form" autocomplete="off">
  <div class="form-group">
    <label for="add-owner">Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="add-owner">Lastname</label>
    <input type="text" class="form-control" formControlName="lastname">
  </div>
  <div class="form-group">
    <label for="add-owner">Email address</label>
    <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="add-owner">Birthday</label>
    <input type="date" class="form-control" formControlName="birthday">
  </div>
  <div class="form-group">
    <label for="add-owner">Phone number</label>
    <input type="text" class="form-control" formControlName="phoneNumber">
  </div>
  <div class="form-group">
    <label for="add-owner">Address</label>
    <input type="text" class="form-control" formControlName="address">
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [mat-dialog-close]="ownerForm.value" [disabled]="!ownerForm.valid" mat-flat-button color="primary"
      cdkFocusInitial>Edit</button>
  </mat-dialog-actions>
</form>