<form  [formGroup] = "animalTypeForm" class="example-form"  autocomplete="off" (ngSubmit) = "addAnimalTypeForm(animalTypeForm.value)">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label for="name" autocomplete="off">Name
        </mat-label>
        <input matInput name="name" id="name" formControlName = "name">
    </mat-form-field>
    <div *ngIf="name().touched">
        <p class="error-message" *ngIf = "name().errors?.required">Name is required</p>
        <p class="error-message"  *ngIf = "name().errors?.incorectName">Name is not correct</p>
    </div>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label for="description" autocomplete="off">Description
        </mat-label>
        <textarea matInput name="description" id="description" formControlName = "description"></textarea>
    </mat-form-field>
    <div *ngIf="description().touched">
        <p class="error-message" *ngIf = "description().errors?.required">Description is required</p>
        <p class="error-message"  *ngIf = "description().errors?.incorectDescription">Description is not correct</p>
    </div>
    </div>

    
    <button type="submit"
            mat-raised-button color="primary"
            [disabled] = "!animalTypeForm.valid"
            class="example-full-width">Save</button>
</form>
